<head>
  <title>PLAY!</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src='http://ricostacruz.com/jquery.transit/jquery.transit.js'></script>
  <meta name="viewport" content="target-densitydpi=device-dpi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>

<!-- PUBLIC TO SEND COINS-->
<template name="mobile">
  {{> Template.dynamic template=currentpage }}
</template>
<template name="welcome">
  <body style='padding:20px; margin:0px'>
    <center>
    <img src='/img/play.png' style='width:100%'>
<h2>Play c’est quoi ?</h2>
<p>
Play est un spectacle interactif utilisant les codes du jeux vidéo afin
de les transposer dans un spectacle de théâtre improvisé.
Dans Play, les comédiens pourront se lancer des bonus aux effets différents
pendant que les scènes sont jouées.
</p>
<h2>Et moi je fais quoi ?</h2>
<p>
Entre deux scènes, un bonus vous sera proposé. En sélectionnant un joueur, vous votez pour lui.
Le joueur qui a le plus de vote pourra utiliser ce bonus sur tout joueur à n'importe quel moment.
</p>
<h2>Description des bonus</h2>
<p>
Voici les bonus qui seront distribués aléatoirement aux comédiens
</p>
{{#each bonus }}
<div class="wbonus">
  <h3>{{name}}</h3>
  <img class='pulse' src='/img/Bonus {{id}}.png'>
  <p>{{desc}}</p>
</div>
{{/each}}

<img src='/img/legroupe.png' style='width:100%'>
</center>
  </body>
</template>
<template name="public">
  <body>
    {{#each players}}
      {{> player_public}}
    {{/each}}
    {{#if timerok }}
    <div class='coin'>
      <div class='amount' id="idamount">
        <div class="mname">{{ newbonus.name }}</div>
        <img class='pulse' src="/img/Bonus {{newbonus.id}}.png">
        <div class="mdesc"> {{ newbonus.desc }}</div>
      </div>
    </div>
    {{/if}}
  </body>
</template>
<template name="player_public">
  <div class="player {{class}} {{playersel}}">
    <div>
      <img class='avatar' src="/img/avatars/{{file}}">
      <div class='namecoins'   >
        {{name}}<br>
        {{#if timerok }}
        <span style='font-size:24px; color:#FF0'>{{coins}}</span>
        {{/if}}
        <!-- <img style="width:30px; height:30px" src="/img/coin.png" /> -->
      </div>
    </div>
  </div>
</template>
<template name="end">
  <body  style='padding:20px; margin:0px'>
    <center>
    <img src='/img/play.png' style='width:100%'>
    <p>
      Merci d'avoir participé à Play !<br/>
      Prochaine date le 4 décembre<br/><br/>
      Vous pouvez cliquer ci-dessous :) <br/>
    </p>
    <div class='wbonus' onclick='window.open("https://www.billetreduc.com/224513/evt.htm","_self")'>
      <img src='/img/brp.png' style='width:120px; float:left' class='pulse'>
      <p>
      Un commentaire sur Billetréduc, ca fait toujours plaisir et ça nous aide énormément !
      </p>
    </div>
    <div class='wbonus' onclick='window.open("https://m.facebook.com/legroupeimpro/","_self")'>
      <img src='/img/fb.png' style='width:120px; float:left' class='pulse'>
      <p>Suivez notre actualité sur facebook. Plein d'autres dates et formats !
      <br/>Le Groupe impro
      </p>
    </div>
    <img src='/img/legroupe.png' style='width:100%'>
    </center>
  </body>
</template>

<!-- PROJECTED DISPLAY -->
<template name="display">
  <body>
    {{#each players}}
      {{> player_display}}
    {{/each}}
    <div class='theme'>
      <span id='idthemeresult'>{{theme}}</span>
    </div>
    {{#if timerok }}
    <div class='coin'>

        <div class="mname">{{ timer }}</div>

    </div>
    {{/if}}
  </body>
</template>
<template name="player_display">
  <div class="player {{class}} rotate" id="idbg" style="background-image: url('/img/{{cbg}}');">
    <div>
      {{#each playerbonus id}}
        <img class='bonus pulse level{{level}}' src='/img/Bonus {{id}}.png'>
      {{/each}}
      <img class='avatar' src="/img/avatars/{{file}}">
      <div class='bonusactive'>
        {{#each playerbonusactive id}}
          <img class='bonusbig rotate pulse' src='/img/Bonus {{id}}.png'>
        {{/each}}
      </div>
      <div class='bonusdesc'>
        {{#each playerbonusactivedesc id}}
          <p class='desc'>{{desc}}</p>
        {{/each}}
      </div>
      <div class='namecoins'   >
        {{name}}<br>
        {{#if timerok }}
        <span style='font-size:24px; color:#FF0'>{{coins}}</span>
        {{/if}}
        <!-- <img style="width:30px; height:30px" src="/img/coin.png" /> -->
      </div>
    </div>
  </div>
</template>

<!-- ADMIN REGIE -->
<template name="regie">
  <body>
    {{#each players}}
      {{> player_regie}}
    {{/each}}
    <div class='regiemain'>
      <button id='idthemelieu' style='width:100px; height:40px;'>LIEU</button>
      <button id='idthemerelation' style='width:100px; height:40px;'>RELATION</button>
      <button id='idthememot' style='width:100px; height:40px;'>MOT</button>
      <button id='idthemeemotion' style='width:100px; height:40px;'>EMOTION</button>
      <button id='idthemereset' style='width:100px; height:40px;'>RESET</button>
      <button id='idcoin5' style='width:100px; height:50px;'>SEND COINS</button>
      <button id='idbonus' style='width:100px; height:50px;'>SEND BONUS</button>

      <select class="background-select" style='width:100px; height:50px;'>
          {{#each backgrounds}}
              <option value="{{id}}" >{{name}}</option>
          {{/each}}
      </select>

      <select class="page-select" style='width:100px; height:50px;'>
          <option value="welcome" >WELCOME</option>
          <option value="public" >PLAY</option>
          <option value="end" >END</option>
      </select>
    </div>
  </body>
</template>
<template name="player_regie">
  <div class="player {{class}}">
    <div>
      <!-- <img style='position:absolute; z-index:0; top:40px; left:160px;' src="/img/avatar{{id}}.png"> -->
      <!-- {{#each bonus }}
        <img class='bonus level{{level}}' idp='{{../id}}' src='/img/Bonus {{id}}.png'>
      {{/each}} -->
      <p>{{name}} ({{coins}})</p>
      <button id="idshow" idp="{{id}}" style='width:100px; height:50px;' >SHOW</button>
      <button id="idaddcoin" idp="{{id}}" style='width:100px; height:50px;' >COIN +100</button> <br/><br/>
      <button id="idbuy1" idp="{{id}}" style='width:100px; height:50px;' >LEVEL 1</button>
      <!-- <button id="idbuy2" idp="{{id}}" style='width:100px; height:50px;' >LEVEL 2</button>
      <button id="idbuy3" idp="{{id}}" style='width:100px; height:50px;' >LEVEL 3</button><br/><br/> -->
      <div class='sendbonus'>
        <select class="bonus-select" idpf="{{id}}" id="bs{{id}}" style='width:100px; height:50px;'>
            <!-- <option disabled="disabled">BONUS</option> -->
            {{#each playerbonus id}}
                <option value="{{id}}" timer="{{delay}}">{{name}}</option>
            {{/each}}
        </select>
        <select class="player-select" id="ps{{id}}" style='width:100px; height:50px;'>
            <!-- <option disabled="disabled">PLAYER</option> -->
            {{#each players}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="number" id="idt{{id}}" value="30" style="width:50px"/>
        <button id="idsend" idpf="{{id}}" label="SEND" style='width:100px; height:50px;'>SEND</button>
      </div>
      <!-- <div class='namecoins'   >
        {{name}}<br>
        <span style='font-size:24px; color:#FF0'>{{coins}}</span>
        <img style="width:30px; height:30px" src="/img/coin.png" />
      </div> -->
    </div>
  </div>
</template>
