* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/font/PressStart2P-Regular.ttf');
}

html,body {
    width:100%;
    height:100%;
    background-color:#000;
    color: #FFF;
    font-size:18px;
    font-family: 'Press Start 2P';
  }

.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.coin {

    background-color: #000000;
    border: 4px solid #0F0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme {
    background-color: #000000;
    font-size:50px;
    color: #FFFFFF;
    padding: 20px;
    position: absolute;
    border:8px solid #00FF00;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.amount {
    margin: 20px;
    text-align: center;
}

.regiemain {
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%:
}

.player {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: cover;
    overflow: hidden;
    border:4px solid #00FF00;
}

.playersel {
  background-color:#0F0;
}

.one {
    top:0px;
    left:0px;

}

.two {
    top:0px;
    left:50%;

}

.three {
    top:50%;
    left:0px;

}

.four {
    top:50%;
    left:50%;
}

.avatar {
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  filter:drop-shadow(0px 20px 10px #000);
  height:80%;
}

.namecoins {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:160px;
  background-color: rgba(0,0,0,0.5);
  border: 4px solid #FFFFFF;
  text-align: center;
  padding:10px;
}

.bonus {
  width:32px;
  height:32px;
  padding:0px;
  margin:1px;
  float:left;
}

.mname {
  font-size:42px;
  filter:drop-shadow(4px 4px 0px #660);
  margin: 10px;
  text-align: center;
  color: #FD3;
}

.mdesc {
  max-width:300px;
  font-size:18px;
  margin: 10px;
  text-align: center;
  color: #FFF;
}

.level1 {
  background-color: rgba(0,255,0,0.3);
  border:2px solid #0F0;
}

.level2 {
  background-color: rgba(0,0,255,0.3);
  border:2px solid #00F;
}

.level3 {
  background-color: rgba(255,0,0,0.3);
  border:2px solid #F00;
}

.bonusbig {
  width:100px;
  height:100px;
  margin-right: 10px;
  float:left;
}

.bonusactive {
  position: absolute;
  filter:drop-shadow(0px 20px 10px #000);
  top:60px;
  left:30px;
  width:340px;
  height:100px;
}

.bonusdesc {
  position: absolute;
  text-align: center;
  bottom:0px;
  left:0px;
  width:100%;
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0.4);
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    height: initial;
  }
  80% {
    opacity: 0.8;
    height: initial;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.desc {
  filter:drop-shadow(4px 4px 0px #333);
  display: block;
  color:#FFF;
  font-size: 10px;
  opacity: 0;
  height: 0;
  animation-name: FadeOut;
  animation-duration: 5000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotation {
		from { transform: rotate(0deg) scale(5) ; opacity:0.5 }
		to { transform: rotate(359deg) scale(1) ; opacity:1 }
}

.rotate {
    animation-name: rotation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


.minicoin {
 width:34px;
 hight:34px;
}

h2 {
  color:#0F0;

}

p {
  font-size: 12px;
  line-height: 20px;
}

.wbonus {
  width:80%;
  margin:20px;
  overflow: hidden;
  border:2px solid #FFF;
  display:block;
}
